{% if requires_fuzzer_utils %}
use fuzzer_utils;
{% endif %}
use std::sync::Arc;

use openvm_build::GuestOptions;
use openvm_sdk::{
    config::{AppConfig, AppFriParams, SdkVmConfig},
    Sdk, StdIn,
};
{% if use_generic_sdk %}
use openvm_sdk::config::TranspilerConfig;
use openvm_sdk::prover::verify_app_proof;
{% endif %}

use clap::Parser;
use std::time::Instant;

#[derive(Parser, Debug)]
#[clap(author, version, about, long_about = None)]
struct Args {
{% if is_trace_collection %}
    #[clap(long)]
    trace: bool,
{% endif %}
{% if is_fault_injection %}
    #[arg(long, requires_all=["inject_step", "inject_kind", "seed"])]
    #[clap(long)]
    inject: bool,

    #[clap(long)]
    seed: Option<u64>,

    #[clap(long)]
    inject_step: Option<u64>,

    #[clap(long)]
    inject_kind: Option<String>,
{% endif %}
}

fn main() {
    let args = Args::parse();
{% if is_trace_collection %}
    fuzzer_utils::set_trace_logging(args.trace);
{% endif %}
{% if is_fault_injection %}
    fuzzer_utils::set_injection(args.inject);
    if args.inject {
        fuzzer_utils::set_seed(args.seed.unwrap());
        fuzzer_utils::set_injection_step(args.inject_step.unwrap());
        fuzzer_utils::set_injection_kind(args.inject_kind.unwrap());
        fuzzer_utils::disable_assertions();
    } else {
        fuzzer_utils::enable_assertions();
    }
{% endif %}

    println!(
        "<record>{{ '{{' }}\
            \"context\":\"Setup\", \
            \"status\":\"start\"\
        }}</record>"
    );
    let timer = Instant::now();

    // SDK VM Config
    let vm_config = SdkVmConfig::builder()
       .system(Default::default())
       .rv32i(Default::default())
       .rv32m(Default::default())
       .io(Default::default())
       .build();

    let app_fri_params = AppFriParams::default().fri_params;

    {% if use_generic_sdk %}
    let app_config = AppConfig::new(app_fri_params.clone(), vm_config.clone());
    let sdk = Sdk::new(app_config).expect("sdk init");
    {% else %}
    let sdk = Sdk;
    {% endif %}

    let guest_opts = GuestOptions::default();
    let target_path = "guest";
    {% if use_generic_sdk %}
    let elf = sdk
        .build(guest_opts, target_path, &Default::default(), None)
        .expect("guest build");
    let exe = sdk.convert_to_exe(elf).expect("guest transpile");
    {% else %}
    let elf = sdk
        .build(guest_opts, target_path, &Default::default())
        .expect("guest build");
    let exe = sdk.transpile(elf, vm_config.transpiler()).expect("guest transpile");
    {% endif %}

    let mut stdin = StdIn::default();

    // 1. Inject initial register values
    {% for reg_idx, val in initial_regs.items() %}
    stdin.write(&{{ val }}u32);
    {% endfor %}

    {% if use_generic_sdk %}
    let mut app_prover = sdk.app_prover(exe.clone()).expect("app prover");
    let app_commit = app_prover.app_commit();
    let (_app_pk, app_vk) = sdk.app_keygen();
    {% else %}
    let app_config = AppConfig::new(app_fri_params.clone(), vm_config);
    let app_committed_exe = sdk.commit_app_exe(app_fri_params, exe).expect("commit app exe");
    let app_pk = Arc::new(sdk.app_keygen(app_config).expect("app keygen"));
    {% endif %}

    println!(
        "<record>{{ '{{' }}\
            \"context\":\"Setup\", \
            \"status\":\"success\", \
            \"time\":\"{:.2?}\"\
        }}</record>",
        timer.elapsed()
    );

    println!(
        "<record>{{ '{{' }}\
            \"context\":\"Prover\", \
            \"status\":\"start\"\
        }}</record>"
    );
    let timer = Instant::now();

    {% if use_generic_sdk %}
    let proof = app_prover.prove(stdin.clone()).expect("prove");
    {% else %}
    let proof = sdk.generate_app_proof(
        app_pk.clone(),
        app_committed_exe.clone(),
        stdin.clone()
    ).expect("prove");
    {% endif %}

    println!(
        "<record>{{ '{{' }}\
            \"context\":\"Prover\", \
            \"status\":\"success\",\
            \"output\":\"{:?}\", \
            \"time\":\"{:.2?}\"\
        }}</record>",
        proof.user_public_values.public_values,
        timer.elapsed()
    );

{% if is_fault_injection %}
    if args.inject { fuzzer_utils::enable_assertions(); }
{% endif %}

    println!(
        "<record>{{ '{{' }}\
            \"context\":\"Verifier\", \
            \"status\":\"start\"\
        }}</record>"
    );
    let timer = Instant::now();

    {% if use_generic_sdk %}
    let verified = verify_app_proof(&app_vk, &proof).expect("verify");
    if verified.app_exe_commit != app_commit.app_exe_commit {
        panic!("app exe commit mismatch");
    }
    {% else %}
    let app_vk = app_pk.get_app_vk();
    sdk.verify_app_proof(&app_vk, &proof).expect("verify");
    {% endif %}

    println!(
        "<record>{{ '{{' }}\
            \"context\":\"Verifier\", \
            \"status\":\"success\", \
            \"time\":\"{:.2?}\"\
        }}</record>",
        timer.elapsed()
    );
}
