[package]
name = "nexus-loop1-host"
version = "0.1.0"
edition = "2021"
default-run = "nexus-loop1-host"

[dependencies]
nexus-sdk = { path = "{{ zkvm_path }}/sdk" }
clap = { version = "4.0", features = ["derive", "env"] }
serde_json = "=1.0.116"

